{% extends 'base.html' %}

{% block content %}

  <form method = "POST">
      <label> Enter Name:</label>
      <input type = "name" name ="name" placeholder="Enter Player Name" required><br/>
      <label>Enter ID:</label>
      <input type ="id" name="id" placeholder="Player ID" required><br/>
      <label>Enter Score:</label>
      <input type ="score" name ="score" placeholder="Player Score"required><br/>
      <input type="submit" value="submit">
      <br/>
  </form>
      
   {% endblock %}
